<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/img/logo1.jpg" type="image/gif/jpg">
	<link rel="stylesheet" href="/css/addPhoto.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<title>Adding a Photo</title>

	<div class="header" id="myHeader">
		<nav class="navbar navbar-expand-lg navbar-light">
		  
		  <img class="ci" src="/img/logo1trans.png" alt="TrekMate" style="width:70px;height:60px;right: 10px;">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav ">
			  <li class="nav-item active">
				  <form th:action="'/users/'+${ud}" method="post">
							<input type="hidden" name="uiddd" th:value="${ud}"/>
							<a href=""><button id="logout" style = "background: #ffffff" class= "btn" type="submit" ><img class="nav-link" src="/img/home.png" alt="TrekMate" style="background-color: white; width:40px;height:40px; position: relative; top: -18px; left: -5px;"></button></a> 
						</form> 
			  </li>
  
			  <li class="nav-item">
				<a class="nav-link" href="../../LandingPage.html">Logout</a>
			  </li>
			</ul>
		  </div>
		</nav>
		  
			  
	</div>
</head>
<body> 
<script>
	 function myFunction() {
	   if (window.pageYOffset > sticky) {
		 header.classList.add("sticky");
	   } else {
		 header.classList.remove("sticky");
	   }
	 }
 </script>

<main>
	<p id="subtitle">Upload an Image!</p>
    <div id="container">
		<div id="photoForm">
			<form th:action="'/users/'+${ud}+'/addingPhoto'" method="post" enctype="multipart/form-data">
				<input type="hidden" name="uiddd" th:value="${ud}"/>
				<input type="hidden" name="tiddd" th:value="${td}"/>
				<label for="file">File to choose:</label>
				<input class="submittion" id="file" type="file" name="file" accept="image/*" />
				<input id="upload" type="submit" value="Upload" />
			</form>
		</div>
	</div>
</main>
</body>
</html>