<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hikeExp.css">
    <title>Hike Review in Progress</title>
</head>
<body>
    <div id="formContainer">
        <h2 id="reviewHeader">Review your hike!</h2>
        <form id="reviewForm" action="/postReview" method="post">
            <span class="reviewElement" th:text="${location}"></span>
            <span class="reviewElement" th:text="${name}"></span>
            <input type="date" name="date" id="reviewDate">
            <label for="difficulty">On a scale from 1-10, how difficult was this hike?</label>
            <input type="range" name="difficulty" id="reviewDifficulty" min="1" max="10">
            <input type="hidden" name="trailName" th:value="${name}"/>
            <input type="hidden" name="location" th:value="${location}"/>
            <input type="hidden" name="uiddd" th:value="${ud}"/>
            <input type="hidden" name="tiddd" th:value="${tid}"/>
            <textarea wrap="hard" form="reviewForm" name="paragraph" id="reviewText" placeholder="Tell your story!"></textarea>
            <button type="submit" class="options">Post</button>
            <button type="button" onclick="window.location.href='/userPage.html'" class="options">Go back to Profile</button>
        </form>
    </div>
    
</body>
</html>