<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/planTrail.css">
    <title>Planning a Trail</title>
</head>
<body>
    <div id="optionBar">
        <button type="button" class="options">Search</button>
        <button type="button" class="options">Profile</button>
        <button type="button" class="options">Log Out</button>
    </div>

    <div id="trailDetails">
        <div id="userExp">
            <span>Experiences</span>
            <button type="button" class="expAdd" onclick="window.location.href='/hikeExp.html'">Add a Review</button>
            <button type="button" class="expView" onclick="window.location.href='/hikeExp.html'" disabled>View all Reviews</button>
        </div>
        <!--div id="trailPhotos">Photos</div-->
        <div id="findTrail"></div>
        
    </div>
</body>
</html>