body{
    font-family: Arial, Helvetica, sans-serif;
}

#reviewHeader{
    text-align: center;
}

#formContainer{
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 1100px;
    margin: auto;
    margin-top: 50px;
    background-color: #f8DDA4;
    opacity: 90%;
}

#reviewForm{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
}

.reviewElement, #reviewText, #reviewDate{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.reviewElement{
    height: 40px;
    padding-top: 20px;
}

#reviewDate{
    height: 40px;
}


#reviewDifficulty{
    appearance: none;
    height: 20px;
    width: 80%;
    background-image: linear-gradient(to right, rgb(176, 255, 176), rgb(253, 134, 134));
    outline: none;
}

#reviewDifficulty::-webkit-slider-thumb{
    appearance: none;
    cursor: pointer;
    width: 10px;
    height: 30px;
    background: white;
}

#reviewDifficult::-webkit-slider-runnable-track{
    appearance: none;
    cursor: pointer;
    background-image: linear-gradient(rgb(185, 255, 185), rgb(255, 145, 145));
}

#reviewText{
    height: 500px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#reviewPhotos{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    margin-bottom: 20px;
}

#reviewPhotos + label {
    padding: 10px;
    font-size: 12pt;
    font-weight: 400;
    background-color: #ffad31;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

#reviewPhotos:focus + label, #reviewPhotos + label:hover, .options:hover{
    background-color: green;
}

.options{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #61a43d;
    color: white;
    cursor: pointer;
    padding: 10px;
}