
body{
    font-family: Arial, Helvetica, sans-serif;
}

#optionBar{
    width: 50%;
    height: 50px;
    background-color: #61a43d;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.options{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #61a43d;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
}

.options:hover{
    background-color: #345822;
}

#trailDisplayInfo{
    width: 40%;
    height: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 15px;
    margin: auto;
    margin-top: 150px;
}

#trailName{
    font-size: 25pt;
    text-align: center;
    padding-top: 10px;
}

#trailLocation{
    font-size: 15pt;
    text-align: center;
}

#trailDetails{
    margin:auto;
    margin-top: 50px;
    width: 90%;
    height: 800px;
    background-color: #ffffff;
    color: #373737;
    opacity: 95%;
    margin-bottom: 200px;
    border-radius: 10px;
}


#trailPhotos, #findTrail, #userExp, #weather, #groups{
    position: relative;
    border-color: #61a43d;
    border-style: solid;
    border-radius: 10px;
}

#trailPhotos, #userExp, #weather, #groups{
    margin-left: 25px;
}

#trailPhotos, #weather, #groups{
    float:left;
    width: 30%;
    height: 100px;
    padding: 10px;
    margin-right: 5px;
    margin-top: 60px;
}

#weather{
    height: 250px;
}

#findTrail{
    float: right;
    width: 66.5%;
    height: 800px;
}

#userExp{
    position: relative;
    float: left;
    width: 30%;
    height: 100px;
    padding: 10px;
    margin-top: 40px;
}

.expAdd, .expView, #photoAdd, #groupAdd{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #61a43d;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    padding: 10px;
    margin: 20px;
    position: absolute;
    bottom: 0;
}

.expAdd{
    right: 10px;
}

.expView{
    left: 10px;
}

#photoAdd{
    left: 33%;
}

#groupAdd{
    left: 30%;
}

.expAdd:hover, .expView:hover, #photoAdd:hover, #groupAdd:hover{
    background-color: #345822;
}



#map{
    float: left;
    height: 800px;
    width: 66.5%;
    z-index: 10;
    border-radius: 10px;
   }

.title{
    text-align: center;
}

.day{
    padding-top: 15px;
    padding-left: 20px;
}

.text{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 11pt;
}