.imgg{
    width: 100%;
    clip-path: circle();
}
:root {
    --primary: #1b58c9;
    --dark: #174b22;
    --body: #063500;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.521);
}
.navbar .navbar-brand{
    position: relative;
    top: -30px;
}
body {
    position: relative;
    background-image: url("../img/img4.jpg");
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);

}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

img {
    width: 100%;
}

.roww{
    padding-left: 290px;
}
#about {
   
    padding-bottom: 0px;
    z-index: 1;
}
#features {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1;
}
.leaveButton{
background-color: #267cee; 
  border: none;
  color: white;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
}


.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
}


form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.02);
}