*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}

.logo img{
    width: 150px;
    padding-left: 40px;
    padding-top: 2%;
}

.navbar .logo{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 750;
	letter-spacing: 2px;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding:10%;
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    left: 108px;
    /* display: flex;
    text-align: center;
    justify-content: center; */
}

.search-bar img{
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 100px;

}

.search-bar input{
    flex: 1;
    height: 50px;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: #000000;
    padding: 0px 20px;
    
}

::placerholder{
    color: #000000;
}

.search-bar button img{
    width: 40px;
    
}

button{
    background: transparent;

}
button{
   border: 0;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   color: #ffffff;
   cursor: pointer;

}
.wrapper{
    max-width: 450px;
    margin: 150px auto;
    position: relative;
    left: 0px;
}

.wrapper .search-bar{
    /* width: 100%;
    border-radius: 5px; */
    background: #fdfdfd;
    opacity: 0.8;

}



.search-bar.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}


.search-bar.active .autocom-box li{
    display: block;
}

 .search-bar .autocom-box{
    padding: 10px 8px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    color: #000000;
    font-size: larger;
    border-radius: 3px;
    display: none;
}

.autocom-box li:hover{
    background-color: #5a5a5a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}



.wrapp{
  display: flex;
  position: fixed;
  

}

.wrapp .sidebar{
  width: 200px;
  height: 100%;
  background: #ffffff;
  padding: 30px 0px;
  position: fixed;
}

.wrapp .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapp .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #fdfdfd;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapp .sidebar ul li a button{
  font-size: large;
  color: #003008;
  display: block;
}

.wrapp .sidebar ul li i{

   
  color:#ffffff;
    display: block;
  }
  

.wrapp .sidebar ul li a .fas{
  width: 25px;
}

.wrapp .sidebar ul form:hover{
  background-color: #ddd9d9;
}
    
.wrapp .sidebar ul li:hover a{
  color: #fff;
}

.wrapp .sidebar .current li a button{
  
font-size: x-large;
} 



 
.wrapp .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}



.wrapp .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapp .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapp .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapp .main_content .info div{
  margin-bottom: 20px;
}



.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window {
    width: 100%;
    max-width: 600px;
    background: white;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm__title {
    font-weight: bold;
    font-size: 1.1em;
}

.confirm__close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: #ffffff;
    transition: color 0.15s;
}

.confirm__close:hover {
    color: #ff0000;
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
}

.confirm__buttons {
    background: #eeeeee;
    display: flex;
    justify-content: flex-end;
}

.confirm__button {
    padding: 0.4em 0.8em;
    border: 2px solid #009879;
    border-radius: 5px;
    background: #ffffff;
    color: #009879;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill {
    background: #009879;
    color: #ffffff;
}

.confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@keyframes confirm---open {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes confirm---close {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes confirm__window---open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}